.chatPage {
  width: 100%;
  height: 100vh;
  position: relative;
  @import url('https://fonts.cdnfonts.com/css/motiva-sans');
  font-family: 'Motiva Sans', sans-serif;
}

.chats-and-conversations-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 54%;
  left: 50%;
  background-color: #333333;
  width: 80%;
  height: 80vh;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 30px 5px #0000003e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conversation-container {
  width: 30%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.chat-container {
  width: 70%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}

.conversation-container-secetion1 {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 0;
  height: 13%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.53);
}

.secetion1-searchbar {
  width: 80%;
  background-color: #4f4f4f;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  input {
    width: 85%;
    height: 100%;
    background: transparent;
    border: none;
    color: #e7e7e7;
  }

  input:focus {
    outline: none;
  }
}

.conversation-container-secetion2 {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 87%;

  &::-webkit-scrollbar {
    width: 0.5vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #af8cfb;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: #4f4f4f;
  }
}

.no-coversations{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  span{
    opacity: 0.4;
    
    u{
      opacity: 1 !important;
      color: #af8cfb;
      
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.each-conversation {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    background-color: #515151;
  }

  &:hover .c-delete-button{
    display: block;
  }
}

.conv-time{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;

  .c-delete-button{
    color: #af8cfb;
    opacity: 0.4;
    display: none;
    
    &:hover{
      opacity: 1;
      
    }
  }
}

//selected coversation
.true{
  background-color: #805eca30;
}

.avatar-username-lastmessage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
  }
}

.username-lastmessage {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    padding: 0;
    font-weight: 600;
  }

  .last-message{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 160px;
    opacity: 0.8;
  }
}

.end-of-conv{
  text-align: center;
  padding: 10px 20px 0 20px;
  opacity: 0.3;
  
  p{
    opacity: 0.6;
    padding-top: 10px;
    border-top: 2px solid #e7e7e7;
    font-weight: 900;
  }
}

.no-matchs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0.2;
  padding: 20px;

  img{
    width: 120px;
    opacity: 0.6;
  }

  p{
    margin: 0;
    padding: 0;
    font-weight: 700;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
}

.chat-head-no-co-selc{
  height: 13%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.53);
  border-radius: 0 20px 0 0;
}

.chat-body-no-co-selc{
  height: 87%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.4;

  img{
    width: 20vmax;
    opacity: 0.5;
  }
}

.chat-body-for-newCon{
  height: 77%;
  
    
  --s: 40px;
  --c: #af8cfb11;
  --_l: #0000 46%,var(--c) 47% 53%,#0000 54%;
  background:
    radial-gradient(100% 100% at 100% 100%,var(--_l)) var(--s) var(--s),
    radial-gradient(100% 100% at 0    0   ,var(--_l)) var(--s) var(--s),
    radial-gradient(100% 100%,#0000 22%,var(--c) 23% 29%, #0000 30% 34%,var(--c) 35% 41%,#0000 42%)
    #f8ecc900;
  background-size: calc(var(--s)*2) calc(var(--s)*2);
  
  padding-top: 15px;
  
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: end;

  small{
    opacity: 0.5;
  }
}

.chat-head {
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.53);
  border-radius: 0 20px 0 0;

  .head-username-avatar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50px;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.chat-body {
  height: 77%; 
  
  --s: 40px;
  --c: #af8cfb11;
  --_l: #0000 46%,var(--c) 47% 53%,#0000 54%;
  background:
    radial-gradient(100% 100% at 100% 100%,var(--_l)) var(--s) var(--s),
    radial-gradient(100% 100% at 0    0   ,var(--_l)) var(--s) var(--s),
    radial-gradient(100% 100%,#0000 22%,var(--c) 23% 29%, #0000 30% 34%,var(--c) 35% 41%,#0000 42%)
    #f8ecc900;
  background-size: calc(var(--s)*2) calc(var(--s)*2);
  
  padding-top: 15px;
}

.scrollerdown {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #af8cfb #4f4f4f;

  &::-webkit-scrollbar {
    width: 0.5vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #af8cfb;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: #4f4f4f;
  }
}

.message-edit-flex{
  display: flex;
  align-items: center;
  gap: 10px;
}

.message-edit{
  background-color: #4f4f4f;
  padding: 5px;
  border-radius: 20px;
  display: none;
  
  .m-edit-button{
    color: #af8cfb;
    opacity: 0.6;
    cursor: pointer;
    
    &:hover{
      opacity: 1;
    }
  }
  
  .m-delete-button{
    color: #af8cfb;
    opacity: 0.6;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }
}


.receiver-message {
  margin-bottom: 10px;
  margin-left: 15px;
}

.receiver {
  max-width: 50%;
  word-wrap: break-word;
  background-color: #6a6a6a;
  padding: 15px;
  display: inline-block;
  border-radius: 20px 20px 20px 0;

  p {
    margin: 0;
    padding: 0;
  }
}

.sender-message {
  margin-bottom: 10px;
  margin-right: 15px;
  direction: rtl;

  &:hover .message-edit{
    display: block;
  }

  .chat-time{
    direction: ltr;
    display: flex;
    justify-content: end;
  }
}

.sender {
  direction: ltr;
  max-width: 50%;
  background-color: #805eca;
  padding: 15px;
  display: inline-block;
  border-radius: 20px 20px 0 20px;

  p {
    margin: 0;
    padding: 0;
  }

}

.edit-form-cont{
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e7e7e7;
    padding: 10px;
    color: #e7e7e7;

    &:focus {
      outline: none;
    }
  }

  .e-buttons{
    display: flex;
    gap: 3px;
    justify-content: end;
  }

  button{
    margin-top: 10px;
    font-size: 15px;
  }

  .e-ok-button{
    border: none;
    font-weight: 700;
    background-color: #e7e7e7;
    color: #805eca;
    border-radius: 150px;
  }

  .e-cancel-button{
    background-color: transparent;
    border: none;
    color: #e7e7e7;
    font-weight: 700;
  }
}

.chat-time{
  font-size: 15px;
  opacity: 0.6;
}

.chat-input-bar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.53);
  border-radius: 0 0 20px 0;
}

.send-bar-input-button {
  width: 100%;
  display: flex;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;

  input {
    width: 95%;
    font-size: 18px;
    background-color: #4f4f4f;
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: #e7e7e7;

    &:focus {
      outline: none;
    }
  }

  button {
    background: none;
    border: none;
    color: #af8cfb;
  }
}

.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.typingIndicatorBubbleDot {
  width: 10px;
  height: 10px;
  background-color: #a2a2a2;
  border-radius: 50%;
  animation:bounce 1.3s infinite linear;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
    opacity: 0.3;
  }
}



//media queryyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

@media (max-width:1030px) {
  .chats-and-conversations-container{
    width: 95%;
  }
}
